@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

.box{
    /* background-color: #bfa; */
    position: relative;
    width: 720px;
    height: 344px;
    border:1px solid black;
    margin:50px auto;
    overflow: hidden;
}
.btnleft{
    position: absolute;
    width: 10%;
    left: 3%;
    top: 45%;
    z-index: 3;
}
.btnright{
    position: absolute;
    width: 10%;
    right: 3%;
    top: 45%;
    z-index: 3;
}
.list{
    position: absolute;
    list-style: none;    
    right: 5%;
    bottom: 5%;
    z-index:2;
}

.list li{
    float: left;
    margin-left: 3px;
    border:1px solid white;
    border-radius: 3px;
    width: 20px;
    height: 20px;
}

.styleFill{
    background-color: black;
}
.imgbox{
    position: absolute;
    width: 1440px;
    height: 344px;
    /* background-color: rebeccapurple; */
    top: 0;
    left: 0;
}

.imgbox img{
    position: absolute;
    left: 720px;
    top: 0;
}
.imgbox .first{
    position: absolute;
    left: 0;
    top: 0;
}