@charset "utf-8";

*{
    margin: 0;
    padding:0;
}
body{
    background:url("../img/bg.jpg");
    background-size: 100% 100%;
}

.picList{
    width: 750px;
    height: 600px;
    margin: 100px auto;
}

.picList>img{
    width: 230px;
    height: 160px;
    border: 4px solid #fff;
    box-shadow: 0px 0px 20px #fff;
}

.pan{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0,0,0,0.8);
}

.showImg{
    position: absolute;
    width: 650px;
    height: 450px;
    top: 130px;
    left: 50%;
    margin-left: -345px;

}
.showImg img{
    position: absolute;
    border:5px solid white;
    box-shadow: 0px 0px 20px white;
    width: 100%;
    height: 100%;
}

.prev{
    position: absolute;
    border-radius: 10px;
    background: #000;
    width: 50px;
    height: 80px;
    color: white;
    font-size: 60px;
    font-weight: 900;
    font-family: "微软雅黑";
    line-height: 1.1;
    text-align: center;
    top: 330px;
    left: 200px;
    box-shadow: 0px 0px 20px white;
    z-index:2;
    cursor: pointer;
}
.next{
    position: absolute;
    border-radius: 10px;
    background: #000;
    width: 50px;
    height: 80px;
    color: white;
    font-size: 60px;
    font-weight: 900;
    font-family: "微软雅黑";
    line-height: 1.1;
    text-align: center;
    top: 330px;
    right: 200px;
    box-shadow: 0px 0px 20px white;
    z-index:2;
    cursor: pointer;
}


/* 把整个show图层隐藏掉 */
.show{
    display: none;
}